Convert test csv to mysql db

In [1]:
!pip install pandas mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/aya/.local/lib/python3.10/site-packages (2.2.1)
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.4.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.4/19.4 MB 547.5 kB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/aya/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /home/aya/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/aya/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.4.0

In [11]:
import pandas as pd
import mysql.connector

# MySQL Connection Configuration
db_config = {
    'host': '127.0.0.1',
    'user': 'root',
    'password': 'password',
    'database': 'maid'
}

# CSV File Path
csv_file_path = 'test.csv'

def csv_to_mysql(csv_file_path, db_config):
    # Read CSV file into a DataFrame
    df = pd.read_csv(csv_file_path)

    # Connect to MySQL database
    conn = mysql.connector.connect(**db_config)
    cursor = conn.cursor()

    # Prepare SQL query to create table

    create_table_query = """
        CREATE TABLE IF NOT EXISTS testdata (
                id INT AUTO_INCREMENT PRIMARY KEY,
                battery_power FLOAT,
                blue INT,
                clock_speed FLOAT,
                dual_sim INT,
                fc FLOAT,
                four_g INT,
                int_memory INT,
                m_dep FLOAT,
                mobile_wt FLOAT,
                n_cores INT,
                pc FLOAT,
                px_height FLOAT,
                px_width FLOAT,
                ram FLOAT,
                sc_h FLOAT,
                sc_w FLOAT,
                talk_time INT,
                three_g INT,
                touch_screen INT,
                wifi INT
            
        )
    """
    cursor.execute(create_table_query)

    # Iterate over each row in the DataFrame and insert into MySQL
    for _, row in df.iloc[:,1:].iterrows():
    # Prepare SQL query to insert data
        insert_query = """
        INSERT INTO testdata (battery_power, blue, clock_speed, dual_sim, fc,
                                four_g, int_memory, m_dep, mobile_wt, n_cores,
                                pc, px_height, px_width, ram, sc_h, sc_w,
                                talk_time, three_g, touch_screen, wifi)
            VALUES (%s, %s, %s, %s, %s,
                    %s, %s, %s, %s, %s,
                    %s, %s, %s, %s, %s,
                    %s, %s, %s, %s, %s)
        """
    
        data = tuple(row)
        cursor.execute(insert_query, data)

    # Commit changes and close connection
    conn.commit()
    cursor.close()
    conn.close()

# Call the function to convert CSV to MySQL
csv_to_mysql(csv_file_path, db_config)